  #########################################################
  ###                 GENERAL PARAMETERS                ###
  #########################################################

	# pipe_location
	# path zo the location of the pipeline folder
pipe_location="/primary/home/wanding.zhou/tools/allelomepro/Allelome_PRO"

	# ratio (optional)
	# Minimum allelic ratio above which allele-specific expression is called biologically relevant.
	# If this parameter is omitted (e.g. kept as a comment or deleted) the value defaults to 0.7. (equals a 70/30 ratio)
#ratio=

	# fdr_param (optional)
	# The maximum false-discovery rate (FDR) set as how many candidates are allowed to be allele-specific in the mock analysis compared to the results.
	# Example: 1% would mean that for each 100 genes categorised as allele-specific in the results, one call is allowed in the mock comparison.
	# If this parameter is omitted (e.g. kept as a comment or deleted) the value defaults to 1 (equal to 1% FDR)
#fdr_param=

	# minreads (optional)
	# Minimum number of reads a SNP position must be covered by for it to be included in the analysis.
	# If this parameter is omitted (e.g. kept as a comment or deleted) the value defaults to 1 (equal to 1 read)
#minreads=


  #########################################################
  ###          EXPERIMENT-SPECIFIC PARAMETERS           ###
  #########################################################

	# outputdir
	# Path where the job directory containing all output files will be created.
	# The job directory name will contain the date, sample file names, annotation file name, and the FDR and minreads parameter.
#outputdir="./test_run/results/"
outputdir="allelomePro/RNAseq_Embryo_BL6_vs_JF1_Dot1l_wt/"

	# annotation
	# Annotation file containing the candidates to analyse in bed6 format. For more details about this file refer to the manual.
#annotation="./test_run/annotation/RefSeq_annotation_Igf2r_cl.bed"
annotation="/primary/vari/genomicdata/genomes/mm10/gtf/Mus_musculus.GRCm38.82.gtf.convert.allelomePro.noXYM.bed"

	# main_title
	# Title of the analysis, used for plot captions and output file names.
	# Note: No spaces or special characters are allowed here!
	# Recommendation:	A name consisting of the analysed feature (e.g. RNAseq, H3K4me3, etc.),
	#					the analysed tissue, 
	#					the sex of the analysed mouse (eg. XX,XY,XX_XY [for pooled males and females]),
	#					and the age of the mouse (e.g. E12_5 for a 12.5 days old embryo or Ad9we for a nine weeks old adult)
	#					separated by underscores, e.g. RNAseq_MEF_XX_E12_5
#main_title="RNAseq_MEF_XX_E12_5_chr17_12350000_13000000"
main_title="RNAseq_Embryo_BL6_vs_JF1_Dot1l_wt"

	# y_axis
	# Y axis for the result plot, describes the type of candidates (e.g. RefSeq Genes, windows).
y_axis="RefSeq_genes"
	
	# sorted
	# set to 1 if the BAM files are already sorted, 0 if they have to be sorted by the pipeline
#sorted=


  #########################################################
  ###            CROSS-SPECIFIC PARAMETERS              ###
  #########################################################

	# snp_file
	# The SNP file used in this analysis in bed6 format.
	# The SNP file should be created first and therefore defines the order of the strains, i.e. which is strain 1 and which is strain 2
	# This order is defined in the "name" column of the bed file which has to consist of two letters, 
	# the first indicating the SNP variant in strain 1, the second the variant in strain 2.
	# For more details on the SNP file please refer to the manual.
#snp_file="./test_run/SNP/SNPs_Igf2r_cl.bed"
snp_file="/primary/vari/genomicdata/genomes/mm10/snp/pairwise/BL6_vs_JF1.snp.mm10.bed"

	# strains
	# Names of the two strains, first strain 1, then strain 2, separated by a semicolon (e.g. strain1;strain2).
#strains="CAST;FVB"
strains="BL6;JF1"

	# BAM files
	# The four BAM files containing the aligned sequencing data. 
	# for_c1 and for_c2 are the samples of the forward cross, meaning the cross where the mother is of strain 1 and the father is of strain 2.
	# rev_c1 and rec_v2 are the samples of the reverse cross in the opposite direction. Strains are defined via SNP file.
	# forward cross samples: for_c1, for_c2 [mother strain 1, father: strain 2]
for_c1="./bam/Dot1LE2.bam"
for_c2="./bam/Dot1LE10.bam"
	# reverse cross samples: rec_c1, rec_c2 [mother strain 2, father: strain 1]
rev_c1="./bam/Dot1LNE12.bam"
rev_c2="./bam/Dot1LNE3.bam"
