;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Tue Apr 26 22:12:34 2011
;; Desktop file format version 206
;; Emacs version 23.1.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/wanding/.emacs.d/wanding-visual-nicities.el"
  "wanding-visual-nicities.el"
  'emacs-lisp-mode
  '(autopair-mode auto-complete-mode yas/minor-mode)
  5540
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

